* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
section {
    clear: both;
    display: inline-block;
    width: 100%;
}
.clear {
    clear: both;
}
a {
    text-decoration: none;
    cursor: pointer;
}
/* Grid */

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
}
.col-6 {
    width: 50%;
    float: left;
    padding: 0 15px;
}
.col-4 {
    width: 33.33333333%;
    float: left;
    padding: 0 15px;
}
.col-3 {
    width: 25%;
    float: left;
    padding: 0 15px;
}
.col-8 {
    width: 66.66666667%;
    float: left;
    padding: 0 15px;
}
/* End of Grd */

/* Main Cover CSS */

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-header {
    max-width: 980px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    min-height: 75px;
    padding-top: 33px;
}
#nav-icon {
    width: 28px;
    height: 45px;
    position: relative;
    /*margin: 35px 35px 0px 0px;*/
    
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}
#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 60%;
    background: #1a1c45;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}
#nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}
#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
    top: 0px;
}
#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
    top: 10px;
}
#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
    top: 20px;
}
#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}
#nav-icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}
#nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}
#nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}
#nav-icon.open span:nth-child(5) {
    left: 5px;
    top: 12px;
}
#nav-icon.open span:nth-child(6) {
    left: 10px;
    top: 12px;
}
#nav {
    float: right;
    display: inline-block;
    padding: 9px 0px;
}
#nav>ul {
    list-style: none;
}
#nav>ul>li {
    display: inline-block;
    /*margin-left: 30px;*/
}
#nav>ul>li>a {
    color: #222222;
    padding: 0px 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}
.navbar-logo {
    float: left;
    /*height: 32px;*/
    /*padding: 15px 15px;*/
    /*line-height: 20px;*/
    
    max-width: 150px;
    display: inline-block;
}
.navbar-logo>img {
    width: 100%;
    height: auto;
}
.nav>li {
    position: relative;
    display: block;
}
.header-soc {
    display: none;
}
.main-cover {
    position: relative;
    background: url(../images/background.png) no-repeat center center;
    background-size: cover;
    height: 695px;
    max-height: 695px;
    color: #222222;
}
.inner {
    max-width: 640px;
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 134px;
    font-family: 'Roboto', sans-serif;
}
.cover-heading {
    font-size: 80px;
    text-align: center;
}
.cover-subheading {
    font-size: 24px;
    line-height: 30px;
    padding: 35px;
    font-weight: 400;
}
.cover-subheading-res {
    display: none;
}
.hr-main {
    width: 10%;
    color: #c41230;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 7px;
}
.hr-main {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #c41230;
}
/* End of Main Cover CSS */

/* Section Services CSS*/

#services {
    /*min-height: 480px;*/
    
    width: 100%;
    display: block;
    background-color: #fff;
}
.services-text {
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding: 0px 65px;
    text-align: center;
}
.services-heading {
    text-transform: uppercase;
    color: #222222;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.ser-hr {
    width: 10%;
    color: #d0d0d0;
    text-align: center;
    margin: 40px auto;
    display: block;
    border-top: 2px solid #d0d0d0;
}
.ser-icon {
    max-width: 100px;
    height: 86px;
    display: block;
    margin: auto;
    text-align: center;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 40px;
}
.ser-icon img {
    width: 100%;
    height: auto;
}
.bg-grey {
    background-color: #ededed;
}
.bg-column {
    background-color: #fbfbfb;
}
.pb-77 {
    padding-bottom: 77px;
}
/* End of section Services CSS */

/* Section Jobs CSS */

#jobs {
    position: relative;
    display: block;
    padding-top: 93px;
}
.hr-job {
    width: 10%;
    color: #c41230;
    text-align: center;
    margin: auto;
    display: block;
    border-top: 2px solid #c41230;
    margin-top: 40px;
    margin-bottom: 40px;
}
.jobs-subtitle {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 22px;
}
.jobs-title {
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.looking {
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 30px;
}
.job-item {
    position: relative;
    display: block;
    padding-top: 7px;
    padding-bottom: 50px;
}
.job-head {
    padding-bottom: 143px;
}
.job-item-title {
    text-align: left;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #222222;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.job-item-about {
    text-align: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #222222;
    font-weight: 300;
    padding-bottom: 40px;
}
.tag {
    float: left;
    /*width: 85px;*/
    
    height: 32px;
    border: 2px solid #eee;
    margin-right: 10px;
}
.tag-light {
    float: left;
    /*width: 85px;*/
    
    height: 32px;
    border: 2px solid #fff;
    margin-right: 10px;
}
.tag p {
    color: #c41230;
    /*text-transform: uppercase;*/
    
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px 0px 20px;
    text-align: center;
    pad
}
.tag-light p {
    color: #fff;
    /*text-transform: uppercase;*/
    
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px 0px 20px;
    text-align: center;
    pad
}
.job-button,
.job-button-light {
    float: right;
    display: block;
    margin-top: 50px;
}
.prijava {
    color: #222222;
    border: 2px solid #222222;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 18px 38px;
}
.prijava-light {
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 18px 38px;
}
.bg-dark {
    background-color: #222222;
}
.light {
    color: #fff !important;
}
.load-more {
    background-color: #d7d7d7;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    position: relative;
    margin: auto;
    padding: 21px 5px 21px 5px;
    max-width: 225px;
}
.load-more a {
    color: #333333;
}
.pt-88 {
    padding-top: 88px;
}
.pb-136 {
    padding-bottom: 136px;
}
/* End of Jobs section CSS */

/* About US */

#about-us {
    position: relative;
    display: block;
    /* padding-top: 93px;*/
    
    min-height: 630px;
}
.pt-50 {
    padding-top: 50px;
}
.about-us-text {
    font-size: 18px;
    color: #222222;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 30px;
}
/* End ABout US */

/* Section Social CSS */

#social {
    position: relative;
    display: block;
    min-height: 335px;
    background-color: #fff;
    width: 100%;
}
.social-icon {
    display: table;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 5px;
}
.twitter,
.facebook {
    float: left;
    margin-right: 15px;
    max-width: 65px;
    height: auto;
}
.twitter img,
.facebook img {
    width: 100%;
    height: auto;
}
/* End Social Section CSS */

/* Footer CSS*/

footer {
    display: block;
    position: relative;
    min-height: 445px;
}
.footer-top {
    background-color: #222222;
    color: #666666;
    min-height: 376px;
}
.footer-bottom {
    background-color: #1e1e1e;
    color: #f2f2f2;
    min-height: 71px;
}
.marker,
.location-title {
    float: left;
    margin-right: 12px;
}
.location-head {
    padding-bottom: 16px;
}
.location-title {
    color: #f2f2f2 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 10px;
}
.location-info {
    color: #666666;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}
.location-item {
    display: block;
    position: relative;
    margin: auto;
}
.pt-135 {
    padding-top: 135px;
}
.copyright {
    float: left;
}
.ft-social {
    float: right;
}
.copyright p,
.copyright-mob p {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    color: #f2f2f2;
    opacity: 0.2;
    font-family: 'Roboto', sans-serif;
}
.copyright-mob {} .ft-twitter,
.ft-facebook,
.ft-site {
    float: left;
    margin-right: 28px;
}
.ft-site {
    padding-top: 10px;
}
.ft-site a {
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.footer-bottom-mob {
    display: none;
}
/* End of Footer */
/* Responsive */

@media (max-width: 1024px) {
    #nav-icon {
        display: block;
    }
    #nav {
        display: none;
    }
    #nav.active {
        display: block !important;
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 80px;
        right: 0;
    }
    #nav {
        float: none !important;
        width: 100%;
    }
    #nav ul {
        width: 100%;
        float: none;
        background: #222222;
        opacity: 0.98;
        padding: 100px 0px 142px 0px;
        overflow: hidden;
        z-index: 1;
    }
    #nav>ul>li {
        display: inline-block !important;
        height: 100px !important;
        min-width: 100px !important;
        text-align: center !important;
        height: auto !important;
        width: 100% !important;
        padding: 29px 0px;
    }
    #nav>ul>li>a {
        color: #cccccc;
        font-size: 24px;
        font-weight: 300;
    }
    .header-soc {
        display: block;
        position: relative;
        bottom: 54px;
    }
    .header-soc-title {
        color: #cccccc;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        opacity: 0.5;
        float: left;
        text-transform: uppercase;
        padding-left: 28px;
    }
    .header-social-icon {
        float: right;
    }
    .header-tw,
    .header-fb {
        float: left;
        margin-right: 28px;
    }
    .header-tw {
        padding-top: 3px;
    }
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    .cover-heading {
        font-size: 60px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .main-cover {
        height: 490px;
    }
    .inner {
        margin-top: 88px;
    }
    .services-text {
        padding: 0px 15px;
    }
}
@media (max-width: 768px) {
    .hidden {
        display: none;
    }
    .sec-ht {
        min-height: 54px;
    }
    .pb-77 {
        padding-bottom: 0px !important;
    }
    .pd-40 {
        padding: 40px 0px !important;
    }
    .ser-icon {
        margin-top: 0px;
    }
    .col-mob-12 {
        width: 100%;
        float: none;
        padding-right: 15px;
        padding-left: 15px;
        display: block;
    }
    .col-mob-6 {
        width: 50%;
        float: left;
        padding: 0 15px;
    }
    .cover-subheading-res {
        font-size: 20px;
        line-height: 30px;
        padding: 35px;
        font-weight: 400;
        text-transform: uppercase;
        display: block;
    }
    .cover-subheading {
        display: none;
    }
    .jobs-title {
        font-size: 40px;
    }
    .looking {
        font-size: 20px;
        padding-top: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .about-us-text {
        font-size: 18px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
    }
    .job-item-title {
        font-size: 18px;
    }
    .job-item-about {
        font-size: 15px;
    }
    .tag {
        border: none !important;
    }
    .tag p {
        padding: 0px !important;
    }
    .tag-light {
        border: none !important;
    }
    .tag-light p {
        padding: 0px !important;
    }
    .job-item-title {
        padding-bottom: 25px !important;
    }
    .job-item-about {
        padding-bottom: 15px !important;
    }
    .bg-silver-res {
        background-color: #f8f7f5;
    }
    .color-dark-res {
        color: #222222 !important;
    }
    .red-res {
        color: #c41230 !important;
    }
    .bg-dark {
        background-color: transparent;
    }
    .job-item {
        padding-bottom: 32px;
    }
    .job-head {
        padding-bottom: 84px;
    }
    .pt-25 {
        padding-top: 25px !important;
    }
    #jobs {
        padding-top: 65px;
    }
    .pt-30 {
        padding-top: 30px !important;
    }
    #social {
        min-height: 267px;
    }
    .ft-site {
        float: right !important;
    }
    .ft-twitter,
    .ft-site,
    .ft-facebook {
        margin-right: 0px !important;
    }
    .pt-135 {
        padding-top: 86px;
    }
    .pb-52 {
        padding-bottom: 52px;
    }
    .copyright-mob {
        text-align: center;
    }
    .ft-social-mob {
        float: left;
    }
    .footer-bottom {
        min-height: 50px;
    }
}
@media (min-width: 768px) {
    .full-hidden {
        display: none;
    }
}
/* Hover Elements */


.prijava:hover  {
    color: #fff;
    background-color: #222222;
    transition: all 0.3s ease-in;

}
.prijava-light:hover {
    color: #222222;
    background-color: #fff;
    transition: all 0.3s ease-in;

}
.tag:hover{
    background-color: #eee;
    transition: all 0.3s ease-in;
}
.tag-light p:hover {
    
    color: #222222;
    transition: all 0.3s ease-in;
}
.tag-light:hover {
    background-color: #fff;
    transition: all 0.3s ease-in;
}

.load-more:hover {
    background-color: #333333;
    color: #fff;
    transition: all 0.3s ease-in;
}
.load-more:hover a{
 
    color: #fff;
    transition: all 0.3s ease-in;
}
.twitter:hover, .facebook:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in;

}
